<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>202.57.61.178</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/talent-acquisition</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TalentAcquisitionConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=TalentAcquisition;Persist Security Info=True;User ID=sa;Password=128TechInc" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RecruitmentSystem.Models.ApplicationDbContext, RecruitmentSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TalentAcquisitionEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=TalentAcquisition;Persist Security Info=True;User ID=sa;Password=128TechInc" Name="Data Source=localhost;Initial Catalog=TalentAcquisition;Persist Security Info=True;User ID=sa;Password=128TechInc;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=202.57.61.178;Initial Catalog=TalentAcquisition;Persist Security Info=True;User ID=sa;Password=128TechInc;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TalentAcquisitionEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Recruitment.Data.Model1.csdl|res://*/Recruitment.Data.Model1.ssdl|res://*/Recruitment.Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.57.61.178;initial catalog=TalentAcquisition;persist security info=True;user id=sa;password=128TechInc;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TalentAcquisitionConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=localhost;Initial Catalog=TalentAcquisition;Persist Security Info=True;User ID=sa;Password=128TechInc</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TalentAcquisitionEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Recruitment.Data.Model1.csdl|res://*/Recruitment.Data.Model1.ssdl|res://*/Recruitment.Data.Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=localhost;initial catalog=TalentAcquisition;persist security info=True;user id=sa;password=128TechInc;multipleactiveresultsets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>