@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manage Account";
}
<div class="row">
    <div class="col-lg-12">
        <h3>Manage Account</h3>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <ul class="breadcrumb">
            <li> <a href="@Url.Action("dashboard","home")">Dashboard</a></li>
            <li class="active li-active"> Manage Accounts</li>
        </ul>
    </div>
</div>
@if (ViewBag.user != "")
{
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success">Successfully Created User @ViewBag.user</div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <div class="well custom-panel">
            <div class="row">
                <form action="@Url.Action("_userlist")" method="get">
                    <div class="col-lg-6 col-md-6">
                        <p class="empty-space-0"></p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Search Name" name="user" onkeyup="FormSearchValidation('form','tbody','6')" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="FormSearchValidation('form', 'tbody', '6')">
                                        <span class="fa fa-search"></span>
                                    </button>
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle custom-button" data-toggle="dropdown" href="#"> <span class="fa fa-ellipsis-v fa-lg" title="Toggle dropdown menu"></span> </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a class="" onclick="redirecturl('@Url.Action("registeruser")')"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Create User</a></li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive scrollable">
                    <table class="table table-hover table-striped table-small-font">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>E-mail</th>
                                <th>Username</th>
                                <th>Role</th>
                                <th>Created By</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    DisableonSubmit(document);
    $(document).ready(function () {
        FormSearchValidation('form', 'tbody', '6');
    });
</script>